<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <!-- 首页过滤 -->
  <filter>
  	<filter-name>IndexFilter</filter-name>
  	<filter-class>com.citybus.web.filter.IndexFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>UserFilter</filter-name>
  	<filter-class>com.citybus.web.filter.UserFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AdminFilter</filter-name>
  	<filter-class>com.citybus.web.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>IndexFilter</filter-name>
  	<url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <!-- user过滤 -->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindLineByLname</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindLineByLname</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindLineBySname</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindLineBySname</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindLineByTwoSname</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindLineByTwoSname</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindNewsById</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindNewsById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindTopNews</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindTopNews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuspageServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.BuspageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BusInfoServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.BusInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindNewsAllServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindNewsAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindNewByTitle</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindNewByTitle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindGuestBookAll</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindGuestBookAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestAdd</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.GuestAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.CheckImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAccount</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.UserAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyUserInfo</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.ModifyUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginout</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.UserLoginout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindUserGuestBook</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindUserGuestBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddLineServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.AddLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStationServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.AddStationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDeleteLineServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.BatchDeleteLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDeleteServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.BatchDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeStationNameServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.ChangeStationNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CkStationServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.CkStationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteLineServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.DeleteLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteStationServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.DeleteStationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelStationOnLineServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.DelStationOnLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditLineServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.EditLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditLineStationByIdServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.EditLineStationByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindBookByIdServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindBookByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindLineByManyCondition</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindLineByManyCondition</servlet-class>
  </servlet>
  <servlet>
    
    <servlet-name>FindLineStationByManyCondition</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindLineStationByManyCondition</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindRouteById</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindRouteById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindRouteByIdOrde</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindRouteByIdOrde</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindStationByIdServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindStationByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindStationByManyCondition</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindStationByManyCondition</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LineListServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.LineListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LineStationListServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.LineStationListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StationEditServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.StationEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StationListServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.StationListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateLineServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.UpdateLineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminExit</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.AdminExit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindNewsAll</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindNewsAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewFindById</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.NewFindById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsEdit</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.NewsEdit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsAdd</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.NewsAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelNewById</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.DelNewById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestbookList</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.GuestbookList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestBookFindById</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.GuestBookFindById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelGuestbookById</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.DelGuestbookById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestbookReplay</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.GuestbookReplay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindPersonAll</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindPersonAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelUserById</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.DelUserById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminEditInfo</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.AdminEditInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload1</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.Upload1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CkUserName</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.CkUserName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.CookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAdminAll</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.FindAdminAll</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.AddAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelAdminById</servlet-name>
    <servlet-class>com.citybus.web.servlet.behind.DelAdminById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LineShow</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.LineShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddThing</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.AddThing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllLost</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.ShowAllLost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindLostByID</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindLostByID</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindLostByName</servlet-name>
    <servlet-class>com.citybus.web.servlet.front.FindLostByName</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindLineByLname</servlet-name>
    <url-pattern>/servlet/findLineByLname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindLineBySname</servlet-name>
    <url-pattern>/servlet/findLineBySname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindLineByTwoSname</servlet-name>
    <url-pattern>/servlet/findLineByTwoSname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindNewsById</servlet-name>
    <url-pattern>/servlet/findNewsById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindTopNews</servlet-name>
    <url-pattern>/servlet/findTopNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuspageServlet</servlet-name>
    <url-pattern>/servlet/buspageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusInfoServlet</servlet-name>
    <url-pattern>/servlet/busInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindNewsAllServlet</servlet-name>
    <url-pattern>/servlet/findNewsAllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindNewByTitle</servlet-name>
    <url-pattern>/servlet/findNewByTitle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindGuestBookAll</servlet-name>
    <url-pattern>/servlet/findGuestBookAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestAdd</servlet-name>
    <url-pattern>/servlet/guestAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/servlet/userRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/servlet/checkImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/servlet/userLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAccount</servlet-name>
    <url-pattern>/servlet/userAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUserInfo</servlet-name>
    <url-pattern>/servlet/modifyUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginout</servlet-name>
    <url-pattern>/servlet/userLoginout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserGuestBook</servlet-name>
    <url-pattern>/servlet/findUserGuestBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddLineServlet</servlet-name>
    <url-pattern>/servlet/addLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStationServlet</servlet-name>
    <url-pattern>/servlet/addStationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDeleteLineServlet</servlet-name>
    <url-pattern>/servlet/batchDeleteLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDeleteServlet</servlet-name>
    <url-pattern>/servlet/batchDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeStationNameServlet</servlet-name>
    <url-pattern>/servlet/changeStationNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CkStationServlet</servlet-name>
    <url-pattern>/servlet/ckStationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteLineServlet</servlet-name>
    <url-pattern>/servlet/deleteLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStationServlet</servlet-name>
    <url-pattern>/servlet/deleteStationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelStationOnLineServlet</servlet-name>
    <url-pattern>/servlet/delStationOnLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditLineServlet</servlet-name>
    <url-pattern>/servlet/editLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditLineStationByIdServlet</servlet-name>
    <url-pattern>/servlet/editLineStationByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBookByIdServlet</servlet-name>
    <url-pattern>/servlet/findBookByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindLineByManyCondition</servlet-name>
    <url-pattern>/servlet/findLineByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindLineStationByManyCondition</servlet-name>
    <url-pattern>/servlet/findLineStationByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindRouteById</servlet-name>
    <url-pattern>/servlet/findRouteById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindRouteByIdOrde</servlet-name>
    <url-pattern>/servlet/findRouteByIdOrde</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindStationByIdServlet</servlet-name>
    <url-pattern>/servlet/findStationByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindStationByManyCondition</servlet-name>
    <url-pattern>/servlet/findStationByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LineListServlet</servlet-name>
    <url-pattern>/servlet/lineListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LineStationListServlet</servlet-name>
    <url-pattern>/servlet/lineStationListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StationEditServlet</servlet-name>
    <url-pattern>/servlet/stationEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StationListServlet</servlet-name>
    <url-pattern>/servlet/stationListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/servlet/updateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateLineServlet</servlet-name>
    <url-pattern>/servlet/updateLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/servlet/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminExit</servlet-name>
    <url-pattern>/servlet/adminExit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindNewsAll</servlet-name>
    <url-pattern>/servlet/findNewsAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewFindById</servlet-name>
    <url-pattern>/servlet/newFindById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsEdit</servlet-name>
    <url-pattern>/servlet/newsEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsAdd</servlet-name>
    <url-pattern>/servlet/newsAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelNewById</servlet-name>
    <url-pattern>/servlet/delNewById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestbookList</servlet-name>
    <url-pattern>/servlet/guestbookList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestBookFindById</servlet-name>
    <url-pattern>/servlet/guestBookFindById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelGuestbookById</servlet-name>
    <url-pattern>/servlet/delGuestbookById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestbookReplay</servlet-name>
    <url-pattern>/servlet/guestbookReplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPersonAll</servlet-name>
    <url-pattern>/servlet/findPersonAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUserById</servlet-name>
    <url-pattern>/servlet/delUserById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminEditInfo</servlet-name>
    <url-pattern>/servlet/adminEditInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload1</servlet-name>
    <url-pattern>/servlet/upload1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CkUserName</servlet-name>
    <url-pattern>/servlet/ckUserName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/servlet/cookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAdminAll</servlet-name>
    <url-pattern>/servlet/findAdminAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/servlet/addAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelAdminById</servlet-name>
    <url-pattern>/servlet/delAdminById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LineShow</servlet-name>
    <url-pattern>/servlet/lineShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddThing</servlet-name>
    <url-pattern>/servlet/addThing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllLost</servlet-name>
    <url-pattern>/servlet/showAllLost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindLostByID</servlet-name>
    <url-pattern>/servlet/findLostByID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindLostByName</servlet-name>
    <url-pattern>/servlet/findLostByName</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
